---
import Layout from "../layouts/Layout.astro";
import {
  Text,
  H1,
  H2,
  H3,
  H4,
  H5,
  H6,
  P,
  Small,
  typographyVariants,
} from "@/components/ui/typography";

const reveal = typographyVariants({ reveal: "animate", family:"mono", size:'body-s'});
const classes = {
  reveal: reveal,
  code:`my-2 md:my-4 ${reveal}`,
  exampleItem: `flex flex-col mx-4 w-screen md:mx-20 md:px-20 ${reveal}`
}
---

<Layout
  title="Typography test"
>
    <main
      class="flex flex-col items-center gap-10 font-serif text-grey py-12"
    >
    <div class={classes.exampleItem}>
      <code class={classes.code} >&lt; H1 family="display" padding='lg' &gt;</code>
      <H1
        family="display"
        size="display"
        padding="lg"
        className="px-4 md:px-20 border border-dashed border-cyan-300 bg-cream"
      >
        Page H1 Display Title
      </H1>
    </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H1 padding='lg' &gt;</code>
        <H1
          padding="lg"
          className="px-4 md:px-20 border border-dashed border-cyan-300"
        >
          Page H1 Title
        </H1>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H1 padding='lg' theme='blue' &gt;</code>
        <H1
          padding="lg"
          theme="blue"
          className="px-4 md:px-20 bg-blue-bg border border-dashed border-cyan-300"
        >
          Page H1 Title | Blue
        </H1>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H1 className='text-purple-500' &gt;</code>
        <H1
          className="text-purple-500 bg-green-bg border border-dashed border-cyan-300"
        >
          H1 | Custom Color
        </H1>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H2 &gt;</code>
        <H2>My H2 Title</H2>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H3 &gt;</code>
        <H3>My H3 Title</H3>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H3 theme='blue' weight='bold' size='heading-2' &gt;</code>
        <H3 theme="blue" weight="bold" size="heading-2">My H3 Title | Bold</H3>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H4 &gt;</code>
        <H4>My H4 Heading</H4>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H5 &gt;</code>
        <H5>My H5 Heading</H5>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; H6 &gt;</code>
        <H6>My H6 Heading</H6>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; P &gt;</code>
        <P>
          My P Paragraph | Lorem ipsum dolor sit amet consectetur. Aliquam vitae
          massa ultricies cursus. Consequat tempus amet in sit. Interdum tellus
          tortor sagittis volutpat eu ac. Amet quis pretium nullam in nunc
          aliquam tincidunt hendrerit donec. At nunc mauris tincidunt ut viverra
          diam tristique. Nisl massa pellentesque vitae sapien non etiam a.
          Cursus et aliquet leo eu. Non.
        </P>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; P family='sans' &gt;</code>
        <P family="sans">
          My P Paragraph | Sans Lorem ipsum dolor sit amet consectetur. Aliquam
          vitae massa ultricies cursus. Consequat tempus amet in sit. Interdum
          tellus tortor sagittis volutpat eu ac. Amet quis pretium nullam in
          nunc aliquam tincidunt hendrerit donec. At nunc mauris tincidunt ut
          viverra diam tristique. Nisl massa pellentesque vitae sapien non etiam
          a. Cursus et aliquet leo eu. Non.
        </P>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; P className='text-orange-700' &gt;</code>
        <P className="text-orange-700">
          My P Paragraph | Custom color Lorem ipsum dolor sit amet consectetur.
          Aliquam vitae massa ultricies cursus. Consequat tempus amet in sit.
          Interdum tellus tortor sagittis volutpat eu ac. Amet quis pretium
          nullam in nunc aliquam tincidunt hendrerit donec. At nunc mauris
          tincidunt ut viverra diam tristique. Nisl massa pellentesque vitae
          sapien non etiam a. Cursus et aliquet leo eu. Non.
        </P>
      </div>
      <div class={classes.exampleItem}>
        <code class={classes.code} >&lt; Small &gt;</code>
        <Small>
          My Legal small print | Lorem ipsum dolor sit amet consectetur. Aliquam
          vitae massa ultricies cursus. Consequat tempus amet in sit. Interdum
          tellus tortor sagittis volutpat eu ac. Amet quis pretium nullam in
          nunc aliquam tincidunt hendrerit donec. At nunc mauris tincidunt ut
          viverra diam tristique. Nisl massa pellentesque vitae sapien non etiam
          a. Cursus et aliquet leo eu. Non.
        </Small>
      </div>

      <div class="mx-4 flex flex-col self-start md:mx-20">
      <code class={classes.code} >&lt; Text asChild input h1 &gt;</code>
        <Text asChild>
          <input
            placeholder="My placeholder"
            class=`${typographyVariants({ tag: "h1" })} py-2 px-12 bg-transparent text-green border-green-1/50 border rounded-full`
          />
        </Text>
      </div>
    </main>
</Layout>
